## Downloading datasets from OpenML

In [27]:
import openml
import pandas as pd
from openml.datasets import edit_dataset, fork_dataset, get_dataset

In [28]:
# This is done based on the dataset ID.
dataset = openml.datasets.get_dataset('diabetes')

# Print a summary
print(
    f"This is dataset '{dataset.name}', the target feature is "
    f"'{dataset.default_target_attribute}'"
)
print(f"URL: {dataset.url}")
print(dataset.description[:500])

This is dataset 'diabetes', the target feature is 'class'
URL: https://api.openml.org/data/v1/download/37/diabetes.arff
**Author**: [Vincent Sigillito](vgs@aplcen.apl.jhu.edu)

**Source**: [Obtained from UCI](https://archive.ics.uci.edu/ml/datasets/pima+indians+diabetes)

**Please cite**: [UCI citation policy](https://archive.ics.uci.edu/ml/citation_policy.html)

1. Title: Pima Indians Diabetes Database

 2. Sources:
    (a) Original owners: National Institute of Diabetes and Digestive and
                         Kidney Diseases
    (b) Donor of database: Vincent Sigillito (vgs@aplcen.apl.jhu.edu)

In [29]:
X, y, categorical_indicator, attribute_names = dataset.get_data(
    dataset_format="array", target=dataset.default_target_attribute
)
df = pd.DataFrame(X, columns=attribute_names)
df["class"] = y
df.head()

   preg   plas  pres  skin   insu       mass   pedi   age  class
0   6.0  148.0  72.0  35.0    0.0  33.599998  0.627  50.0      1
1   1.0   85.0  66.0  29.0    0.0  26.600000  0.351  31.0      0
2   8.0  183.0  64.0   0.0    0.0  23.299999  0.672  32.0      1
3   1.0   89.0  66.0  23.0   94.0  28.100000  0.167  21.0      0
4   0.0  137.0  40.0  35.0  168.0  43.099998  2.288  33.0      1

In [30]:
df.to_csv("datasets/diabetes.csv", index=False)

In [31]:
from dataset import split_dataset

dataframes = split_dataset(df, n_features=2)

for i in range(len(dataframes)):
    print(f"Dataframe {i+1}: {dataframes[i].head()}")

AttributeError: 'Index' object has no attribute 'remove'